$bg: transparentize(#171717, 0);
$fg: #eeeeee;
$primary-bg: #51a4e7;
$primary-fg: #141414;
$error-bg: #e55f86;
$error-fg: #141414;
$scheme: dark;
$padding: 7pt;
$spacing: 12pt;
$radius: 11px;
$transition: 200ms;
$shadows: true;
$widget-bg: transparentize(#eeeeee, 0.94);
$hover-bg: transparentize(#eeeeee, 0.8460000000000001);
$hover-fg: lighten(#eeeeee, 8%);
$border-width: 1px;
$border-color: transparentize(#eeeeee, 0.96);
$border: $border-width solid $border-color;
$active-gradient: linear-gradient(to right, #51a4e7, darken(#51a4e7, 4%));
$shadow-color: rgba(0,0,0,.6);
$text-shadow: 2pt 2pt 2pt $shadow-color;
$box-shadow: 2pt 2pt 2pt 0 $shadow-color, inset 0 0 0 $border-width $border-color;
$popover-border-color: transparentize(#eeeeee, 0.95);
$popover-padding: $padding * 1.6;
$popover-radius: $radius + $popover-padding;
$font-size: 13pt;
$font-name: Mononoki Nerd Font;
$charging-bg: #00D787;
$bar-battery-blocks: 7;
$bar-position: regular;
$hyprland-gaps-multiplier: 2.4;
$screen-corner-multiplier: 0.5;
